<div class="center hero-unit">
  <h1>TAS for GA ver.</h1>

  <h2>
  TAS for GA ver. へようこそ
  </h2>
  <% if signed_in? %>
    <%= link_to "プロファイルページへ", current_user, class: "btn btn-large btn-primary" %>
  <% else %>
    <%= link_to "ログイン", signin_path, class: "btn btn-large btn-primary"%>
  <% end %>

  <!-- <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %> -->
</div>
