// foxrunsoftware/DatePicker 用の設定
#date-range {
  position:relative;
}
#date-range-field {
  font-family: Arial;
  font-size: 26px;
  color: #393939;
  width: 100%;
  height: 26px;
  position: relative;
}

#datepicker-calendar {
  position: absolute;
  top: 0;
  left: 19px;
  overflow: hidden;
  width: 497px;
  height: 153px;
}

#date-range-field span {
  color: #404040;
  position: relative;
  top: 0;
  left:520px;
  height: 26px;
  width: 100%;
  font-size:20px;
  text-align: left;
}

/* Remove default border from the custom widget since we're adding our own.  TBD: rework the dropdown calendar to use the default borders */
#datepicker-calendar div.datepicker {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
}
