html {
  color: #000000;
  background: #ffffff;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img {
  border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}
li {
  list-style: none;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before, q:after {
  content: '';
}
abbr, acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input, textarea, select {
  *font-size: 100%;
}
legend {
  color: #000000;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  text-decoration: underline;
}
body {
  font-size: 12px;
  font-family: "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, "メイリオ", Meiryo, sans-serif;
  line-height: 15px;
}
#hd {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 1000px;
  padding: 5px 0;
  background-color: #2b2b2b;
  color: #ffffff;
  z-index: 2;
}
#hd h1 {
  float: left;
  margin: 5px 0 0 10px;
}
#hd a {
  display: block;
  float: right;
  width: 110px;
  min-width: 110px;
  margin: 0 10px 0 0;
  padding: 5px 0 3px 0;
  text-align: center;
  text-decoration: none;
  background-color: #e8ecef;
}
#hd a:hover {
  background-color: #adadad;
}
#hd select {
  float: right;
  width: 170px;
  min-width: 170px;
  margin: 0 5px 0 0;
  border: solid 1px #ffffff;
}
#hd div {
  float: right;
  margin: 5px 20px 0 0;
  color: #cccccc;
}
#hd br {
  clear: both;
}
#iref {
  position: fixed;
  top: 33px;
  z-index: 2;
  width: 100%;
  min-width: 1180px;
  padding: 10px 0;
  font-size: 12px;
  text-align: center;
  border-bottom: solid 1px #cccccc;
  background-color: #ffffff;
  color: #383c3c;
}
#iref a {
  margin: 0 0 0 15px;
  font-size: 16px;
}
#iref img {
  height: 22px;
  margin: 0 7px 0 0;
  vertical-align: bottom;
}
#iref img.icon {
  margin: 0 7px 0 30px;
}
#iref .ic {
  position: relative;
  top: -1px;
  margin: 0 3px 0 0;
  vertical-align: middle;
}
#iref select {
  white-space: nowrap;
  top: 1px;
  right: 5px;
  width: 150px;
  height: 20px;
  font-size: 12px;
}
#iref a#set {
  margin: 0 0 0 30px;
  padding: 7px 30px 5px 30px;
  font-size: 12px;
  text-decoration: none;
  background-color: #1563b2;
  color: #ffffff;
}
#iref a#set:hover {
  background-color: #1e90ff;
}
#mfm {
  width: 940px;
  min-width: 940px;
  height: 800px;
  margin: 90px auto 0 auto;
}
#mfm ul li {
  float: left;
  width: 56px;
  min-width: 56px;
  margin: 0 5px 0 0;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #cccccc;
}
#mfm ul li a {
  display: block;
  padding: 20px 0;
  background-color: #ffffff;
}
#mfm ul li a:hover {
  text-decoration: none;
  background-color: #cccccc;
  color: #ffffff;
}
#mfm ul li#ed {
  float: left;
  margin: 0;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #cccccc;
}
#mfm ul li#ed a {
  display: block;
  padding: 20px 0;
}
#mfm ul br {
  clear: both;
}
#mfm #gh_area {
width: 100%;
min-width: 940px;
}
#mfm #gh_area #gh {
width: 938px;
height: 450px;
margin: 10px 0 0 0;
border: solid 1px #cccccc;
}
#mfm #gh_area #pnt {
width: 100%;
min-width: 940px;
margin: 10px 0 0 0;
}
#mfm #gh_area #pnt a {
display: block;
float: left;
width: 178px;
margin: 0 10px 0 0;
padding: 15px 0;
text-align: center;
text-decoration: none;
border: solid 1px #cccccc;
background-color: #ffffff;
}
#mfm #gh_area #pnt a:hover {
background-color: #cccccc;
color: #ffffff;
}
#mfm #gh_area #pnt a#ed {
display: block;
float: left;
width: 178px;
margin: 0;
border: solid 1px #cccccc;
}
#mfm #gh_area #pnt div {
float: left;
width: 178px;
margin: 0 10px 0 0;
padding: 15px 0;
text-align: center;
text-decoration: none;
border: solid 1px #cccccc;
background-color: #cccccc;
color: #ffffff;
}
#mfm #gh_area #pnt div#ed {
display: block;
float: left;
width: 178px;
margin: 0;
border: solid 1px #cccccc;
}
#mfm #gh_area #pnt br {
clear: both;
}
#footer {
width: 100%;
min-width: 1000px;
margin: 100px 0 0 0;
padding: 7px 0;
text-align: center;
background-color: #e8ecef;
}
#mfm_d {
width: 1000px;
min-width: 1000px;
margin: 90px auto 0 auto;
}
#mfm_d #bk {
float: left;
}
#mfm_d #bk a {
display: block;
width: 200px;
height: 40px;
font-size: 15px;
}
#mfm_d #bk a img {
width: 35px;
margin: 0 5px 0 0;
vertical-align: middle;
}
#mfm_d #tb {
width: 100%;
min-width: 1000px;
}
#mfm_d #tb select {
float: right;
width: 170px;
margin: 7px 0 0 0;
}
#mfm_d #tb #gh {
position: relative;
top: 50px;
width: 100%;
min-width: 1000px;
height: 350px;
background-color: #cccccc;
}
#mfm_d #tb br {
clear: both;
// line
}
#mfm_d #tb #num {
width: 1000px;
margin: 45px 0 0 0;
overflow-x: scroll;
background-color: #e8ecef;
}
#mfm_d #tb #num table {
background-color: #ffffff;
}
#mfm_d #tb #num table tr td {
width: 70px;
min-width: 70px;
height: 35px;
text-align: center;
border: solid 1px #cccccc;
}
#mfm_d #tb #num table tr#day {
background-color: #e8ecef;
}
#mfm_d #tb #num table tr#day td {
height: 25px;
}
#mfm_d #tb #num table tr td.cont {
width: 120px;
min-width: 120px;
background-color: #e8ecef;
}
#mfm_d #ltfm {
float: left;
width: 364px;
min-width: 364px;
margin: 20px 10px 0 0;
}
#mfm_d #ltfm td {
width: 130px;
min-width: 130px;
height: 35px;
text-align: center;
border: solid 1px #cccccc;
background-color: #ffffff;
}
#mfm_d #ltfm tr#tpc td {
height: 25px;
background-color: #e8ecef;
}
#mfm_d #ltfm td.cont {
width: 100px;
min-width: 100px;
background-color: #e8ecef;
}
#mfm_d #ltfm td div.lt {
float: left;
width: 55px;
min-width: 55px;
text-align: right;
}
#mfm_d #ltfm td div.rt {
float: left;
width: 75px;
min-width: 75px;
text-align: left;
}
#mfm_d #ltfm #db td {
width: 130px;
min-width: 130px;
}
#mfm_d #ltfm #db td.contm {
width: 30px;
min-width: 30px;
background-color: #e8ecef;
}
#mfm_d #ltfm #db td.conts {
width: 70px;
min-width: 70px;
background-color: #e8ecef;
}
#mfm_d #ltfm #db td.wd {
background-color: #e8ecef;
}
#mfm_d #rtfm {
float: left;
width: 626px;
min-width: 626px;
margin: 20px 0 0 0;
}
#mfm_d #rtfm td {
width: 100px;
min-width: 100px;
height: 45px;
text-align: center;
border: solid 1px #cccccc;
background-color: #ffffff;
}
#mfm_d #rtfm tr#tpc td {
height: 25px;
background-color: #e8ecef;
}
#mfm_d #rtfm td.page {
width: 321px;
min-width: 321px;
background-color: #e8ecef;
}
#mfm_d #rtfm td.page div {
font-size: 10px;
color: #808080;
}
#mfm_d #rtfm #lp tr#tpc td {
height: 25px;
background-color: #e8ecef;
}
#mfm_d #rtfm #lp td.page {
width: 422px;
min-width: 422px;
}
#mfm_d #rtfm #lp td div {
font-size: 10px;
color: #808080;
}
br {
clear: both;
}
#login {
margin: 80px auto 0 auto;
width: 700px;
height: 330px;
border: solid 1px #a9a9a9;
color: #000000;
}
#login h1 {
padding: 12px 0 12px 10px;
width: 690px;
font-size: 17px;
border-bottom: solid 1px #696969;
background-color: #808080;
color: #ffffff;
}
#login p {
margin: 20px 0 0 15px;
}
#login table {
margin: 35px 0 0 140px;
}
#login table td {
padding: 0 0 10px 0;
}
#login table td input {
margin: 0 0 0 20px;
}
#login table td span {
position: relative;
top: -2px;
left: 5px;
}
#login table td a {
display: block;
margin: 15px 0 0 20px;
padding: 5px 0;
width: 120px;
text-align: center;
text-decoration: none;
border: solid 1px #cccccc;
background-color: #808080;
color: #ffffff;
}
#login table td a:hover {
background-color: #a9a9a9;
}
#login table td p {
margin: 0 0 0 20px;
color: #808080;
}
#login #ftr {
position: relative;
top: 35px;
text-align: center;
color: #a9a9a9;
}
