// firefox で絞り込みボックスのフォントを固定させる
optgroup {font-style:inherit;}

// ログイン画面のエラー表示
div.alert-error {
  text-align: center;
  font-weight: bold;
  color: red;
}
// ログイン画面の注意表示
div.alert-notice {
  text-align: center;
  font-weight: bold;
  color: green;
}

// users index
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #eee;
    &:last-child {
      border-bottom: 1px solid #eee;
    }
  }
}

// Safari 5.1 for Windows では、 input type=file に
// display:none を指定すると動かないため、下記の設定を行う
.hide {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    border: 0 !important;
}

.selected {
    background-color: #606060 !important;
    color: #ffffff
}

// バブルチャートのツールチップをグラフより前方へ配置
#fm_graph {
  z-index: 1;
  position: relative;
}

#fm_graph > #hvr_l {
  z-index: 1;
  position: relative;
}

#fm_graph > #hvr_r {
  z-index: 1;
  position: relative;
}


// 詳細グラフ
#detail_graph {
  z-index: 2;
}

// 詳細グラフのツールチップ
// ※デフォルト指定を上書きする
.jqplot-highlighter-tooltip {
  z-index: 3;
  font-size: 16px;
  background-color: white;
  font-family: inherit;
  padding: 10px;
  border: 1px solid #cccccc;
  white-space: nowrap;
}

// 詳細グラフの背景（曜日別の背景色など）
.jqplot-overlayCanvas-canvas {
  z-index: -1;
  // opacity: 0.1;
}

// 詳細グラフのY軸
.jqplot-yaxis {
  left: 6px !important;
  top: 10px !important;
}

// Y軸の目盛り
.jqplot-yaxis-tick {
  background-color: white;
  z-index: 1;
}

// ローディング画面の表示順を調整
#stay, #s_word{
  z-index: 100;
}
