// firefox で絞り込みボックスのフォントを固定させる
optgroup {font-style:inherit;}

// ホーム画面のローディング画面
.bload {
  display: none;
  top: 300px;
  left: 372px;
  z-index: 10000;
  height: 46px;
  margin-left: -23px;
  _position: absolute;
  position: fixed;
  margin-top: -23px;
  width: 46px;
}

// ログイン画面のエラー表示
div.alert-error {
  text-align: center;
  font-weight: bold;
  color: red;
}
// ログイン画面の注意表示
div.alert-notice {
  text-align: center;
  font-weight: bold;
  color: green;
}

// ホーム画面のajaxエラーメッセージ
span#errormsg {
  color: red;
  font-weight: bold;
}

// ホーム画面の項目一覧が長すぎたら文字列を省略表示する
div#info #legend1b tr td.r {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; /* Safari */
  -o-text-overflow: ellipsis; /* Opera */
}

// ホーム画面のローディング画面メッセージ
table#daemon {
  font-type: inherit;
  font-size: 19px;
  margin-left: -45px;
  margin-top: 65px;
}

// ログイン直後ダイアログ関連
// タイトルバー削除
div.jquery-ui-dialog-onlogin div.ui-dialog-titlebar {
  display: none;
}

// ダイアログの角を丸くしない
div.ui-corner-all.jquery-ui-dialog-onlogin {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

// コンテンツ全体のサイズを変更
.jquery-ui-dialog-onlogin {
  font-family: inherit;
  font-size: 25px;
  text-align: center;
}

// ボタンのサイズを変更
.jquery-ui-dialog-onlogin a {
  margin: 0 0 0 40px;
  padding: 14px 30px 6px 30px;
  color: #ffffff;
  background-color: #808080;
  font-size: 17px;
  font-weight: bold;
}

// ボタンホバー時の動作を指定
.jquery-ui-dialog-onlogin a:hover {
  text-decoration: none;
  background-color: #C0C0C0;
}

// 日付入力ボックスのサイズを変更
.jquery-ui-dialog-onlogin input.hasDatepicker {
  width: 200px;
  height: 42px;
  text-align: center;
}
