html {
    color: #000000;
    background: #ffffff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

li {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input,
textarea,
select {
    *font-size: 100%;
}

legend {
    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 15px;
    font-family: "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, "メイリオ", Meiryo, sans-serif;
    line-height: 15px;
}

#hd {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    min-width: 1500px;
    height: 16px;
    padding: 14px 0 10px 0;
    background-color: #000000;
    color: #ffffff;
}

#hd h1 {
    float: left;
    margin: 0 0 0 20px;
    font-size: 20px;
}

#hd .name {
    margin: 0 0 0 10px;
    font-size: 12px;
    color: #c0c0c0;
}

#hd ul {
    float: right;
}

#hd ul li {
    float: right;
}

#hd ul li.id {
    margin: 0 25px 0 0;
}

#hd ul li a {
    display: block;
    position: relative;
    top: -7px;
    margin: 0 10px 0 0;
    padding: 6px 10px 5px 10px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    background-color: #c0c0c0;
}

#hd ul li a:hover {
    background-color: #a9a9a9;
}

#frame {
    width: 100%;
    min-width: 1500px;
    background-color: #c0c0c0;
}

#frame #left {
    position: fixed;
    top: 40px;
    z-index: 1;
    width: 20%;
    min-width: 300px;
    height: 100%;
    background-color: #393939;
    color: #ffffff;
}

#frame #left h2 {
    margin: 25px 0 0 25px;
    font-size: 20px;
    text-decoration: underline;
}

#frame #left h2 a {
    text-decoration: underline;
    color: #ffffff;
}

#frame #left h2 a:hover {
    text-decoration: none;
}

#frame #left p {
    margin: 13px 0 0 25px;
    font-size: 18px;
}

#frame #left p a {
    color: #ffffff;
}

#frame #left p a.set {
    color: #ffa500;
}

#frame #left a#atics {
    display: block;
    float: right;
    margin: 50px 0 0 0;
    padding: 22px 0 20px 20px;
    width: 88%;
    font-size: 22px;
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
}

#frame #left a:hover#atics {
    background-color: #dcdcdc;
    color: #000000;
}

#frame #left a#atics_s {
    display: block;
    float: right;
    margin: 50px 0 0 0;
    padding: 22px 0 20px 20px;
    width: 88%;
    font-size: 22px;
    text-decoration: none;
    background-color: #ffa500;
    color: #ffffff;
}

#frame #left a:hover#atics_s {
    background-color: #ffb833;
    color: #ffffff;
}

#frame #left ul {
    margin: 55px 0 0 0;
    width: 100%;
}

#frame #left ul li {
    font-size: 17px;
    border-top: solid 1px #6c6c6c;
}

#frame #left ul li a {
    display: block;
    padding: 18px 0 15px 50px;
    text-decoration: none;
    color: #ffffff;
}

#frame #left ul li a:hover {
    display: block;
    padding: 18px 0 15px 50px;
    background-color: #606060;
    text-decoration: none;
    color: #ffffff;
}

#frame #left ul li a#all {
    display: block;
    padding: 18px 0 15px 25px;
    text-decoration: none;
    color: #ffffff;
}

#frame #left ul li a:hover#all {
    display: block;
    padding: 18px 0 15px 25px;
    background-color: #606060;
    text-decoration: none;
    color: #ffffff;
}

#frame #left ul li div#all {
    padding: 18px 0 15px 25px;
    background-color: #606060;
    text-decoration: none;
    color: #ffffff;
}

#frame #left ul li div {
    padding: 18px 0 15px 50px;
    background-color: #606060;
    text-decoration: none;
    color: #ffffff;
}

#frame #left ul li div.select_a {
    padding: 18px 0 15px 25px;
    text-decoration: none;
    background-color: #393939;
    color: #ffffff;
}

#frame #left ul li div.select {
    padding: 18px 0 15px 50px;
    background-color: #393939;
    text-decoration: none;
    color: #ffffff;
}

#frame #left ul li a#back {
    display: block;
    margin: 20px 0 0 0;
    padding: 18px 50px 15px 0;
    text-align: right;
    text-decoration: none;
    color: #ffffff;
}

#frame #left ul li a:hover#back {
    display: block;
    margin: 20px 0 0 0;
    padding: 18px 50px 15px 0;
    text-align: right;
    text-decoration: none;
    background-color: #ffa500;
    color: #ffffff;
}

br.clear {
    clear: both;
}

#frame #right {
    float: right;
    width: 80%;
    height: 100%;
    margin: 40px 0 0 0;
    padding: 0 0 60px 0;
    min-width: 1200px;
    background-color: #ffffff;
}

#frame #right #error {
    position: fixed;
    z-index: 1;
    width: 100%;
    min-width: 1200px;
    height: 100%;
    opacity: 0.6;
    font-size: 25px;
    line-height: 1.2;
    background-color: #000000;
    color: #ffffff;
}

#frame #right #error p {
    margin: 300px 0 0 0;
    width: 87%;
    text-align: center;
}

#frame #right #container {
    margin: 25px 0 0 25px;
    height: 100%;
}

#frame #right #graph {
    width: 1190px;
    height: 650px;
    margin: 0 0 10px 0;
    background-color: #eeeeee;
}

#frame #right #graph #hvr_l {
    float: left;
    width: 595px;
    height: 650px;
    opacity: 0.6;
    background-color: #000000;
    color: #ffffff;
}

#frame #right #graph #hvr_l dl#tgt {
    margin: 105px 0 0 45px;
}

#frame #right #graph #hvr_l dl#tgt dt {
    font-size: 25px;
}

#frame #right #graph #hvr_l dl#tgt dd {
    margin: 57px 0 0 -3px;
    font-family: Arial;
    font-size: 70px;
}

#frame #right #graph #hvr_l dl#tgt dd #gp {
    margin: 0 0 0 15px;
    font-size: 35px;
}

#frame #right #graph #hvr_l ul {
    clear: both;
    margin: 110px 0 0 45px;
}

#frame #right #graph #hvr_l ul dt {
    float: left;
    margin: 10px 0 0 0;
    padding: 15px 3px 12px 0;
    width: 120px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
}

#frame #right #graph #hvr_l ul dd {
    float: left;
    margin: 10px 0 0 20px;
    width: 350px;
    padding: 15px 0 12px 0;
    font-size: 15px;
    color: #ffffff;
}

#frame #right #graph #hvr_r {
    float: right;
    width: 595px;
    height: 650px;
    opacity: 0.6;
    background-color: #000000;
    color: #ffffff;
}

#frame #right #graph #hvr_r dl#tgt {
    margin: 105px 0 0 45px;
}

#frame #right #graph #hvr_r dl#tgt dt {
    font-size: 25px;
}

#frame #right #graph #hvr_r dl#tgt dd {
    margin: 57px 0 0 -3px;
    font-family: Arial;
    font-size: 70px;
}

#frame #right #graph #hvr_r dl#tgt dd #gp {
    margin: 0 0 0 15px;
    font-size: 35px;
}

#frame #right #graph #hvr_r ul {
    clear: both;
    margin: 110px 0 0 45px;
}

#frame #right #graph #hvr_r ul dt {
    float: left;
    margin: 10px 0 0 0;
    padding: 15px 3px 12px 0;
    width: 120px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
}

#frame #right #graph #hvr_r ul dd {
    float: left;
    margin: 10px 0 0 20px;
    width: 350px;
    padding: 15px 0 12px 0;
    font-size: 15px;
    color: #ffffff;
}

#frame #right ul#rank {
    width: 100%;
    min-width: 1200px;
    text-align: left;
}

#frame #right ul#rank li a {
    display: block;
    float: left;
    width: 68px;
    margin: 0 10px 0 0;
    padding: 26px 0;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border: solid 1px #a0a0a0;
}

#frame #right ul#rank li a:hover {
    background-color: #606060;
    color: #ffffff;
}

#frame #right h2 {
    width: 90%;
    min-width: 1200px;
    margin: 15px 0 0 0;
    padding: 0 0 8px 0;
    font-size: 25px;
    border-bottom: solid 1px #c0c0c0;
}

#frame #right #calender {
    width: 90%;
    min-width: 1200px;
    height: 300px;
    margin: 10px 0 50px 0;
    background-color: #eeeeee;
}

#frame #right ul#button {
    margin: 25px 0 0 15px;
}

#frame #right ul#button li {
    clear: both;
}

#frame #right ul#button li a {
    display: block;
    float: left;
    position: relative;
    top: -9px;
    margin: 0 17px 10px 0;
    padding: 10px 20px 8px 20px;
    text-decoration: none;
    background-color: #cfcfcf;
}

#frame #right ul#button li a:hover {
    background-color: #606060;
    color: #ffffff;
}

#frame #right ul li div {
    float: left;
    position: relative;
    top: -9px;
    margin: 0 17px 10px 0;
    padding: 10px 20px 8px 20px;
    text-decoration: none;
    background-color: #606060;
    color: #ffffff;
}

#frame #right ul#button li input {
    position: relative;
    top: -5px;
    margin: 0 5px 0 0;
    padding: 0 10px;
}

#frame #right #setting {
    width: 90%;
    min-width: 1200px;
    border-top: solid 1px #c0c0c0;
}

#frame #right #setting a#st {
    display: block;
    float: left;
    position: relative;
    top: 25px;
    left: 15px;
    margin: 0 17px 10px 0;
    padding: 25px 40px 23px 40px;
    text-decoration: none;
    background-color: #00608d;
    color: #ffffff;
}

#frame #right #setting a:hover#st {
    background-color: #0073a8;
}

#frame #right #setting a {
    display: block;
    float: left;
    position: relative;
    top: 25px;
    left: 15px;
    margin: 0 17px 10px 0;
    padding: 25px 40px 23px 40px;
    text-decoration: none;
    background-color: #cfcfcf;
    color: #000000;
}

#frame #right #setting a:hover {
    background-color: #606060;
    color: #ffffff;
}

#frame #right #container div.data {
    float: left;
    width: 370px;
    height: 120px;
    margin: 0 15px 0 0;
    border: solid 1px #c7c7c7;
}

#frame #right #container div.data h3 {
    margin: 20px 0 0 20px;
    font-size: 18px;
}

#frame #right #container div.data p {
    margin: 30px 0 0 17px;
    font-family: Arial;
    font-size: 50px;
    color: #474747;
}

#frame #right #container div.data_g {
    float: left;
    width: 370px;
    height: 120px;
    margin: 0 15px 0 0;
    border: solid 1px #c7c7c7;
    background-color: #00608d;
    color: #ffffff;
}

#frame #right #container div.data_g h3 {
    margin: 20px 0 0 20px;
    font-size: 18px;
}

#frame #right #container div.data_g p {
    margin: 30px 0 0 17px;
    font-family: Arial;
    font-size: 50px;
    color: #ffffff;
}

#frame #right #container #condition {
    margin: 0 0 15px 0;
    padding: 0 15px 10px 5px;
    width: 1124px;
    border: solid 1px #c7c7c7;
}

#frame #right #container #condition dt {
    float: left;
    width: 120px;
    margin: 10px 0 0 10px;
    padding: 10px 0;
    text-align: center;
    background-color: #eeeeee;
}

#frame #right #container #condition dd {
    float: left;
    width: 230px;
    margin: 10px 0 0 10px;
    padding: 10px 0;
}

#frame #right #container #condition dd#ed {
    float: left;
    width: 600px;
    margin: 10px 0 0 10px;
    padding: 10px 0;
}

#frame #right #container #line_graph {
    width: 1146px;
    height: 450px;
    margin: 30px 0 0 0;
    background-color: #eeeeee;
}

#frame #right #container table {
    width: 1146px;
    margin: 30px 0 0 0;
}

#frame #right #container table tr td {
    width: 180px;
    padding: 10px 10px 10px 0;
    text-align: right;
    border: solid 1px #c7c7c7;
    background-color: #ffffff;
    color: #000000;
}

#frame #right #container table tr#hl td {
    width: 180px;
    padding: 10px 0 10px 10px;
    text-align: left;
    border: solid 1px #c7c7c7;
    background-color: #e0e0e0;
    color: #000000;
}

#frame #right #container table tr#hl td#gap {
    background-color: #00608d;
    color: #ffffff;
}

#frame #right #container table tr td.data {
    width: 606px;
    padding: 0 0 0 10px;
    text-align: left;
}

#frame #right #container table tr td.data .nbr {
    display: block;
    float: left;
    width: 45px;
}

#login {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #eeeeee;
}

#login #fm {
    position: relative;
    top: 100px;
    width: 700px;
    margin: 0 auto;
    border: solid 1px #c7c7c7;
    background-color: #ffffff;
}

#login #fm #ttl {
    padding: 12px 0 10px 18px;
    font-size: 20px;
    line-height: 1em;
    background-color: #696969;
    color: #ffffff;
}

#login #fm #ttl span {
    padding: 0 0 0 10px;
    font-size: 16px;
}

#login #fm #block {
    padding: 20px;
    font-size: 15px;
}

#login #fm #block p {
    margin: 0 0 30px 0;
}

#login #fm #block dl {
    clear: both;
    margin: 0 0 0 25px;
    padding: 12px 0 0 0;
}

#login #fm #block dt {
    float: left;
    width: 120px;
    text-align: right;
}

#login #fm #block dd {
    float: left;
    width: 500px;
}

#login #fm #block dd input {
    margin: -4px 10px 0 10px;
}

#login #fm #block dd input.txt {
    width: 80%;
}

#login #fm #block dd a {
    display: block;
    width: 150px;
    margin: 20px 0 0 10px;
    padding: 10px 0 8px 0;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    background-color: #696969;
    color: #ffffff;
}

#login #fm #block dd a:hover {
    background-color: #808080;
}

#login #fm #block dd p {
    margin: 0 0 0 8px;
    font-size: 12px;
    color: #696969;
}

#login #fm #copy {
    margin: 50px 0 7px 0;
    font-size: 12px;
    text-align: center;
    color: #808080;
}
