<!-- <br>
<br>
<div id="dish">
      <table>
        <tr id="line">
          <td><%= table_head %></td><td>セッション</td>
        </tr>
        <%
          cnt = 0
          rsc_table.each do |k, v|
            cnt += 1
        %>
        <tr>
          <td class="row"><%= k %></td>
          <td><%= v[:good] %></td>
        </tr>
        <%
          if cnt >= 5 then break end
          end
          # 絞り込み数が5に満たない場合、テーブルを埋める
          if rsc_table.size <= 5
            tpad_size = 5 - @rsc_table.size
            tpad_size.times {
        %>
        <tr>
          <td class="row">-</td>
          <td>-</td>
        </tr>
        <%
            }
          end
        %>
      </table>
    </div>
 -->
