<div id="board">
  <table>
    <tr id="line">
      <td>検索ワード</td><td>セッション</td><td>クリック数</td><td>CTR</td>
    </tr>
    <tr>
      <td class="row">先駈 会社</td><td>10,000</td><td>100</td><td>1.0%</td>
    </tr>
    <tr>
      <td class="row">ウェブ コンサルティング 会社</td><td>10,000</td><td>100</td><td>1.0%</td>
    </tr>
    <tr>
      <td class="row">サイト 分析 ツール</td><td>10,000</td><td>100</td><td>1.0%</td>
    </tr>
    <tr>
      <td class="row">解析 サイト</td><td>10,000</td><td>100</td><td>1.0%</td>
    </tr>
    <tr>
      <td class="row">TAS 解析</td><td>10,000</td><td>100</td><td>1.0%</td>
    </tr>
  </table>
</div>
