<br>
<br>
<table id="search">
  <tr id="line">
    <td>検索ワード</td><td>表示回数</td><td>クリック</td><td>CTR</td>
  </tr>
  <%
    cnt = 0
    @search.sort_by{ |a|
      [ -(a.sessions.to_i),
        -(a.adsense_ads_clicks.to_i),
        -(a.adsense_ctr.to_f) ] }.each do |t|
        cnt += 1
  %>
  <tr>
     <td class="row"><%= truncate(t.keyword, :length => 20) %></td>
     <td><%= t.sessions %></td>
     <td><%= t.adsense_ads_clicks %></td>
     <td><%= t.adsense_ctr.to_f.round(1).to_s %>%</td>
  </tr>
  <%
      if cnt >= 5 then break end
    end
    # 絞り込み数が5に満たない場合、テーブルを埋める
    if @search.size <= 5
      tpad_size = 5 - @search.size
      tpad_size.times {
  %>
  <tr>
    <td class="row">-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <%
      }
    end
  %>
</table>
