<%= include_gon %>
<% set_title(full_title("ホーム")) %>
<%= render 'layouts/loading' %>

<script>

  // カテゴリグレーアウト解除
  $(".home-anlyz").removeClass('hide');
  $(".dummy-category").remove();

  // キャッシュされたグラフデータがある場合の処理
  $(function() {
    if (typeof gon != "undefined") {
      if (typeof gon.cached_item != "undefined" && gon.cached_item[0] != 'not_cved') {
        var plots = [];

        // グラフデータの作成
        createGraphPlots(gon.cached_item, plots);

        // 作成したグラフデータを使ってグラフ描画を実行
        plotGraphHome(plots, gon.cached_item);

        // 分析したデータの期間データを表示
        sessionStorage.setItem('anlyzed_dates',
          replaceAll(gon.cached_from, '-', '/')
          +' - '+replaceAll(gon.cached_to, '-', '/') )
        $("#term").find('p')
          .text(sessionStorage.getItem('anlyzed_dates'));

        // // 対象のカテゴリをグレーアウト
        // var $elem = $(document.getElementById(gon.category));
        // $elem
        //   .after('<div class="dummy-category">'+$elem.text()+'</div>')
        //   .addClass("hide");

      } else {
        // データ不足で分析できない旨を表示
        $('#loading').removeClass('hide');
        $("#error_msg").removeClass("hide");
      }
    } else {
      // まだ分析がされてない場合
      $('#loading').removeClass('hide');
    }
  });
</script>

<div id="term"><p>
  <!-- analysis date write area by javascript -->
</p></div>
<div id="graph">
  <!-- graph plot area by javascript -->
</div>

<ul id="rank">
  <!-- ranking plot area by javascript -->
</ul>
