<div id="childroom">
  <div id="brick">
    <div id="bubble">
      <!-- guraph -->
      <div class="bload">
        <%= image_tag 'loading.gif', :width => "350", :height => "200", :alt => "Loading" %>
      </div>
      <div id="graph">
        <div id="gp"  style="z-index: 1;"></div>
        <div id="narrow">
          <a href="javascript:void(0)" onclick="callExecuter($(this));"　>全体</a>
          <a href="javascript:void(0)" onclick="callExecuter($(this));"　>検索</a>
          <a href="javascript:void(0)" onclick="callExecuter($(this));"　>直接入力/ブックマーク</a>
          <a href="javascript:void(0)" onclick="callExecuter($(this));"　>その他ウェブサイト</a>
          <a href="javascript:void(0)" onclick="callExecuter($(this));"　>ソーシャル</a>
          <a href="javascript:void(0)" onclick="callExecuter($(this));"　id="ed">キャンペーン</a>
        </div>
      </div>
      <div id="info">
        <table id="legend1b" >
        </table>
      </div>
    </div>
  </div>
</div>
