<div id="childroom">
  <div id="brick">
    <!-- legend -->
    <div id="circle">
      <span style="color:gray">●</span>全体&nbsp;
      <span style="color:#e6b422">●</span>検索&nbsp;
      <span style="color:blue">●</span>直接入力/ブックマーク&nbsp;
      <span style="color:green">●</span>その他ウェブサイト&nbsp;
      <span style="color:red">●</span>ソーシャル&nbsp;
      <span style="color:pink">●</span>キャンペーン&nbsp;
    </div>
    <!-- tooltip -->
    <div id="tooltip1s" style="z-index: 2; position: absolute;"></div>
    <!-- guraph -->
    <div id="square" style="z-index: 1;"></div>
  </div>
</div>
