<div id="mfm">
  <ul>
    <li><a href="">1</a></li>
    <li id="ed"><a href="">15</a></li>
  <br>
  </ul>
  <div id="gh_area">
    <div id="gh" style="z-index: 1;"></div>
    <div id="pnt">
      <a href="javascript:void(0)" onclick="bubbleCreateAtTabLink($(this));" >全体</a>
      <a href="javascript:void(0)" onclick="bubbleCreateAtTabLink($(this));" >検索</a>
      <a href="javascript:void(0)" onclick="bubbleCreateAtTabLink($(this));" >直接入力/ブックマーク</a>
      <a href="javascript:void(0)" onclick="bubbleCreateAtTabLink($(this));" >その他ウェブサイト</a>
      <a id="ed" href="javascript:void(0)" onclick="bubbleCreateAtTabLink($(this));" >ソーシャル</a>
    </div>
    <span id="errormsg"></span>
    <br>
  </div>
</div>
