<div id="childroom">
  <div id="brick">
    <div id="circle">
      <span id="gray">●</span><span class='replot'>全体</span>
      <span id="yellow">●</span><span class='replot'>検索</span>
      <span id="green">●</span><span class='replot'>直接入力/ブックマーク</span>
      <span id="blue">●</span><span class='replot'>その他ウェブサイト</span>
      <span id="red">●</span><span class='replot'>ソーシャル</span>
      <span id="purple">●</span><span class='replot'>キャンペーン</span>
      <!-- <span class='replot'>全データを再表示</span> -->
    </div>
    <div id="bubble">
      <!-- tooltip -->
      <div id="tooltip1s" style="z-index: 2; position: absolute;"></div>
      <!-- guraph -->
      <div id="graph" style="z-index: 1;"></div>
      <div id="info">
        <table id="legend1b" >
        </table>
      </div>
    </div>
  </div>
</div>
