<div id="childroom">
  <!-- grapha start -->
  <div id="brick">
    <div id="circle">
      <span style="color:gray">●</span><span class='replot'>全体</span>&nbsp;
      <span style="color:#e6b422">●</span><span class='replot'>検索</span>&nbsp;
      <span style="color:blue">●</span><span class='replot'>直接入力ブックマーク</span>&nbsp;
      <span style="color:green">●</span><span class='replot'>その他ウェブサイト</span>&nbsp;
      <span style="color:red">●</span><span class='replot'>ソーシャル</span>&nbsp;
      <span style="color:pink">●</span><span class='replot'>キャンペーン</span>&nbsp;<br><br>
      <span class='replot'>全データを再表示</span>
    </div>
    <!-- tooltip -->
    <div id="tooltip1s" style="z-index: 2; position: absolute;"></div>
    <!-- guraph -->
    <div id="square" style="z-index: 1;"></div>
  </div>
  <!-- grapha end -->
  <!-- <div id="doll"></div> -->
  <hr>
  <div id="kitchen">
    <div id="knife"></div>
  </div>
  <div id="bedroom" class="home">
    <table id="legend1b" class="tablesorter"></table>
    <div id="pager" class="pager">
      <form>
        <%= image_tag 'table_sorter/pager/first.png', :class => "first" %>
        <%= image_tag 'table_sorter/pager/prev.png', :class => "prev" %>
        <input type="text" class="pagedisplay">
        <%= image_tag 'table_sorter/pager/next.png', :class => "next" %>
        <%= image_tag 'table_sorter/pager/last.png', :class => "last" %>
        <select class="pagesize">
          <option selected="selected" value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
        </select>
      </form>
    </div>
  </div><br>
</div>
