<div id="childroom">
  <div id="brick">
<!--     <div id="circle">
      <span id="gray">●</span><span class='replot'>全体</span>
      <span id="yellow">●</span><span class='replot'>検索</span>
      <span id="green">●</span><span class='replot'>直接入力/ブックマーク</span>
      <span id="blue">●</span><span class='replot'>その他ウェブサイト</span>
      <span id="red">●</span><span class='replot'>ソーシャル</span>
      <span id="purple">●</span><span class='replot'>キャンペーン</span>
    </div> -->
    <div id="bubble">
      <!-- tooltip -->
      <!-- <div id="tooltip1s" style="z-index: 2; position: absolute;"></div> -->
      <!-- guraph -->
      <div id="graph">
        <div id="gp"  style="z-index: 1;"></div>
        <div id="narrow">
          <div>全体</div>
          <a href="">検索</a>
          <a href="">直接入力/ブックマーク</a>
          <a href="">その他ウェブサイト</a>
          <a href="">ソーシャル</a>
          <a href="" id="ed">キャンペーン</a>
        </div>
      </div>
      <div id="info">
        <table id="legend1b" >
        </table>
      </div>
    </div>
  </div>
</div>
