<div id="childroom">
  <!-- grapha_st -->
  <div id="brick">
    <div id="bubble">
      <div id="graph">
          <div id="gp" style="z-index: 1;"></div>
        <div id="narrow">
          <a href="javascript:void(0)" onclick="bubbleCreateAtTabLink($(this));" >全体</a>
          <a href="javascript:void(0)" onclick="bubbleCreateAtTabLink($(this));" >検索</a>
          <a href="javascript:void(0)" onclick="bubbleCreateAtTabLink($(this));" >直接入力/ブックマーク</a>
          <a href="javascript:void(0)" onclick="bubbleCreateAtTabLink($(this));" >その他ウェブサイト</a>
          <a href="javascript:void(0)" onclick="bubbleCreateAtTabLink($(this));" >ソーシャル</a>
          <a id="ed" href="javascript:void(0)" onclick="bubbleCreateAtTabLink($(this));" >キャンペーン</a>
        </div>
        <span id="errormsg"></span>
      </div>
      <div id="info" style="z-index: 1;">
        <table id="legend1b" >
        </table>
      </div>
    </div>
  </div>
</div>
