<script>

$.datepicker._defaults.onAfterUpdate = null;

var datepicker__updateDatepicker = $.datepicker._updateDatepicker;

$.datepicker._updateDatepicker = function (inst) {
  datepicker__updateDatepicker.call(this, inst);

  var onAfterUpdate = this._get(inst, 'onAfterUpdate');
  if (onAfterUpdate)
    onAfterUpdate.apply((inst.input ? inst.input[0] : null),
      [(inst.input ? inst.input.val() : ''), inst]);
}

// 日付計算
var calc = function(datestr, p, day) {
  var dt = new Date(datestr);
  switch(p) {
    case '+' :
    dt.setDate(dt.getDate() + day);
    break;
    case '-' :
    dt.setDate(dt.getDate() - day);
    break;
  }
  return dt;
}

// 日付フォーマット
var fmt = function(dt) {
  var year = dt.getFullYear();
  var month = dt.getMonth() + 1;
  var day = dt.getDate();

  if ( month < 10 ) {
  　　month = '0' + month;
  }
  if ( day < 10 ) {
  　　day = '0' + day;
  }
  var str = year + '-' + month + '-' + day;
  return str;
}

$(function() {

  // global variables to track the date range
  var cur = -1, prv = -1;

  // カレンダーの位置を指定
  var pos = $('#jrange input').position();

  // Create the picker and align it to the bottom of the input field
  // Hide it for later
  $('#jrange span')
    .datepicker({
      changeMonth: true,
      changeYear: true,
      // numberOfMonths: 2,
      showButtonPanel: true,

      beforeShowDay: function (date) {
        return [
          true,
          ( (date.getDate() >= Math.min(prv, cur) && date.getDate() <= Math.max(prv, cur) ) ? 'date-range-selected' : '')
          ];
      },

      onSelect: function ( dateText, inst) {
        var d1, d2;

        prv = cur;
        cur = (new Date(inst.selectedYear, inst.selectedMonth, inst.selectedDay)).getTime();
        if (prv == -1 || prv == cur) {
          prv = cur;
          $('#jrange input').val( dateText );
        } else {
          d1 = $.datepicker.formatDate( 'yy-mm-dd', new Date(Math.min(prv, cur) ), {} );
          d2 = $.datepicker.formatDate( 'yy-mm-dd', new Date(Math.max(prv, cur) ), {} );
          $('#jrange input').val( d1+' - '+d2 );
        }
      },

      onAfterUpdate: function ( inst ) {
        $('<button type="button" class="ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all" data-handler="hide" data-event="click">完了</button>')
          .appendTo( $('#jrange span .ui-datepicker-buttonpane') )
          .on( 'click', function () { $('#jrange span').hide(); } );
      }
    })
    // .css( { left: pos.left, top: pos.top + 22 } )
    // .hide();

  // Listen for focus on the input field and show the picker
  $('#jrange input').on('focus', function (e) {

    var v = this.value, d;

    try {
      if (v.indexOf(' - ') > -1) {
        d = v.split(' - ');

        prv = $.datepicker.parseDate( 'yy-mm-dd', d[0] ).getTime();
        cur = $.datepicker.parseDate( 'yy-mm-dd', d[1] ).getTime();

      } else if ( v.length > 0) {
        prv = cur = $.datepicker.parseDate( 'yy-mm-dd', v ).getTime();
      }
    } catch (e) {
      cur = prv = -1;
    }

    if ( cur > -1 )
      $('#jrange span').datepicker('setDate', new Date(cur));

    $('#jrange span').datepicker('refresh').show();
  });

  $( "#fromd" ).datepicker({
    changeMonth: true,
    changeYear: true,
    numberOfMonths: 3,
    dateFormat:"yy-mm-dd",
    onSelect: function( selectedDate ) {
      console.log(selectedDate);
      var dte = calc(selectedDate, '+', 31);
      var opt = fmt(dte);
      console.log(opt);
      $( "#from" ).val(selectedDate);
      $( "#tod" ).datepicker( "option", "minDate", selectedDate );
      $( "#tod" ).datepicker( "option", "maxDate", opt );
    }
  });
  $( "#tod" ).datepicker({
    changeMonth: true,
    changeYear: true,
    numberOfMonths: 3,
    dateFormat:"yy-mm-dd",
    onSelect: function( selectedDate ) {
      console.log(selectedDate);
      var dte = calc(selectedDate, '-', 31);
      var opt = fmt(dte);
      console.log(opt);
      $( "#to" ).val(selectedDate);
      $( "#fromd" ).datepicker( "option", "minDate", opt );
      $( "#fromd" ).datepicker( "option", "maxDate", selectedDate );
    }
  });
});
</script>
