<div id="footer"><%= get_gafooter_text %></div>

<!-- uploaded analyze form active dialog -->
<%= render partial: 'uplded_anlyz_statuses/active_dialog',
  locals: {contents: @contents} %>

<!-- uploaded analyze form inactive dialog -->
<%= render partial: 'uplded_anlyz_statuses/inactive_dialog' %>
