<!-- left_st -->
<div id="fm_lft">
  <table id="summary">
    <tr id="hl">
      <td>PV数</td><td>訪問回数</td><td>CV数</td><td>CV率</td>
    </tr>
    <tr>
      <td><a href="">1,088,038</a></td><td><a href="">223,425</a></td><td><a href="">1,819</a></td><td><a href="">0.18%</a></td>
    </tr>
  </table>
  <p id="summary">CVまでの訪問回数：4.5回&nbsp;&nbsp;&nbsp;&nbsp;CVまでの期間：3.1日</p>
  
  <table id="ta">
    <tr id="hl">
      <td>目標値</td><td>項目名</td><td>現状値</td><td>GAP</td>
    </tr>
    <tr>
      <td><a href="">10.5</a></td><td class="bc">平均PV数</td><td><a href="">4.8</a></td><td>-5.7</td>
    </tr>
    <tr>
      <td><a href="">8.30</a></td><td class="bc">平均滞在時間</td><td><a href="">3.15</a></td><td>-5.15</td>
    </tr>
    <tr>
      <td><a href="">33.9%</a></td><td class="bc">新規訪問率</td><td><a href="">40.1%</a></td><td>6.2%</td>
    </tr>
    <tr>
      <td><a href="">66.1%</a></td><td class="bc">再訪問率</td><td><a href="">59.9%</a></td><td>-6.2%</td>
    </tr>
  </table>
  
  <table id="bounce">
    <tr>
      <td id="bc">直帰率</td><td><a href="">0.81%</a></td>
    </tr>
  </table>
  
  <div id="user">
    <h2>最も目標値に近いユーザー</h2>
    <p>東京からdesktopで閲覧している25-34歳のTechnophiles男性で、Technophilesに興味を持っている。</p>
    <a href="">ユーザー属性（詳細）</a>
  </div>
</div>
<!-- left_end -->
