<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <!-- <%= link_to "TAS for GA ver.", root_path, id: "logo" %> -->
      <p id="logo">TAS for GA ver.</p>
    </div>
  </div>
</header>
