<script type="text/javascript">

// グラフ項目の色を決定
function setGraphcolor(wd, opt) {
  var p_wd = wd
  switch (p_wd) {
    case '全体':
      opt.series.push( { color: 'gray'} );
      break;
    case '検索':
      opt.series.push( { color: '#e6b422'} );
      break;
    case '直接入力ブックマーク':
      opt.series.push( { color: 'blue'} );
      break;
    case 'その他ウェブサイト':
      opt.series.push( { color: 'green'} );
      break;
    case 'ソーシャル':
      opt.series.push( { color: 'red'} );
      break;
    case 'キャンペーン':
      opt.series.push( { color: 'pink'} );
      break;
  }
}

// グラフ項目のinputパラメータを設定
function setItem(data,  graph, narrow) {
  var option; // 項目名（オプション）
  var tips = ''; // ツールチップの テキスト

  var tab = data[0]; // 各ページ名
  var a;
  var item = data[1]; // 項目名
  tips = tab + '<br>' + item;
  switch (item) {
    case 'PV数':
      tips = chk_days(tips, data);
      graph.val('pageviews');
      break;
    case '平均PV数':
      tips = chk_days(tips, data);
      graph.val('pageviews_per_session');
      break;
    case '訪問回数':
      tips = chk_days(tips, data);
      graph.val('sessions');
      break;
    case '直帰率':
      tips = chk_days(tips, data);
      graph.val('bounce_rate');
      break;
    case '新規訪問率':
      tips = chk_days(tips, data);
      graph.val('percent_new_sessions');
      break;
    case '平均滞在時間':
      tips = chk_days(tips, data);
      graph.val('avg_session_duration');
      break;
    case '再訪問率':
      tips = chk_days(tips, data);
      graph.val('repeat_rate');
      break;
    case '人気ページ':
      option = data[2];
      tips = tips + '<br>' + option;
      $('#narrow_select').val(option + 'f');
      break;
  }
  return tips;
}

// 曜日別の判定
function chk_days(tips, data) {
  if (data.length == 3) {
    tips = tips + '<br>' + data[2];
  }
  return tips;
}

// グラフ描画オプション
var options = {
  seriesDefaults: {
    renderer: jQuery.jqplot.BubbleRenderer,
    rendererOptions: {
      bubbleAlpha: 0.2,
      highlightAlpha: 1.0,
      showLabels: false,
      varyBubbleColors: false,
      autoscaleMultiplier: 0.2,
    },
  },
  series: [], // ここに関数でカラーセットを行う
  axesDefaults: {
    numberTicks: 3,
    tickOptions: {
      fontSize: '10pt',
      fontFamily: 'ヒラギノ角ゴ Pro W3',
    },
  },
  axes: {
    xaxis: {
      label: 'GAP',
      min: 0,
      max: 100,
    },
    yaxis: {
      label: '相関',
      min: 0,
      max: 100,
    },
  },
  // 背景色に関する設定
  grid: {
    background: "transparent",
    gridLineColor: "black",
    shadow: false,
    drawGridlines: true,
    drawBorder: false,
  }
};

// グラフデータを設定
if (typeof(gon.homearr) == "undefined") {
  var arr = [
    [ 1, 1, 1, 'tst' ]
  ];
} else {

  var homearr = gon.homearr;
  var arr = [];
  var cnt = 0;

  for (var i in homearr) {
    console.log( i );
    // console.log( homearr[i] );
    arr.push( homearr[i] );
    arr[cnt].forEach( function(value) {
      value[3] = String(i) + ';;' + value[3];
    });
    setGraphcolor( i, options );
    cnt += 1
  }
}

jQuery( function() {

   // バブル（散布図）チャート相関グラフ
   // x軸, y軸, 大きさ(radius), 項目名　の順に表示
   // 今回は x ... GAP y ... 相関　で現す。
  // GAP値は数値、時間、パーセンテージでばらつきがあるため、
  // パーセンテージを実数へ変換する。

  // jqplot描画後に実行する操作（jqplot描画前に書くこと）
  $.jqplot.postDrawHooks.push(function(square) {
    var selcts = [ $('.jqplot-xaxis-tick'), $('.jqplot-yaxis-tick') ];
    for (var i=0; i<selcts.length; i++) {
      $(selcts[i][0]).text('小');
      $(selcts[i][1]).text('');
      $(selcts[i][2]).text('大');
    }
  });

  // jqplot描画
  var square = jQuery . jqplot('square', arr, options);

  // ハイライトツールチップを表示
  $('#square').bind('jqplotDataHighlight',
    function (ev, seriesIndex, pointIndex, data, radius) {
      var
        dt = data[3].split(';;'),
        color = 'black',
        chart_left = $('#square').offset().left,
        chart_top = $('#square').offset().top,
        // convert x axis unita to pixels
        x = square.axes.xaxis.u2p(data[0]),
        // convert y axis units to pixels
        y = square.axes.yaxis.u2p(data[1]);
      console.log( "full data is " + dt );

      var page = 'li.tab > a:contains(' + String(dt[0]) + ')';
      var id = $(page)[0].id;
      console.log( "href action is " + id );

      var tips = setItem( dt, $('input[name="graphic_item"]'), $('#narrow_select') );
      console.log( "tooptip is  " + tips );
      // ツールチップのCSS
      $('#tooltip1s').css(
        {
          left: chart_left+x+radius + -5,
          top: chart_top+y,
          'text-align': 'center'
        });
      // ツールチップHTML
      $('#tooltip1s').html(
          '<a href="javascript:void(0)" id=' + id +' class="abtn" '
          + ' style="font-size:14px;' +
          'font-weight:bold;color:' + color + ';background-color: whitesmoke;">'
          + tips
          + '</a>'
          // 'x: ' + data[0] +'<br />' +
          // 'y: ' + data[1] + '<br />'
        );
      $('#tooltip1s').show();
      // ツールチップへリンク付与
      $('.abtn').click(function() {
        evtset($(this));
      });
      // $('#legend1b tr').css('background-color', '#ffffff');
      // $('#legend1b tr').eq(pointIndex+1).css('background-color', color);
    }
  );

  // ハイライトツールチップを隠す
  $('#square').bind('jqplotDataUnhighlight',
      function (ev, seriesIndex, pointIndex, data) {
          // 絞り込み選択を解除
          $('#narrow_select').each(function() {
            this.selectedIndex = 0;
          });
          // グラフ描画オプションをpageview(初期値)に戻す
          $('input[name="graphic_item"]').val('pageviews');
          $('#tooltip1s').empty();
          $('#tooltip1s').hide();
          // $('#legend1b tr').css('background-color', '#ffffff');
      }
  );
});
</script>
