<span id="loading" class='hide'>
  <div id="stay"></div>
  <p id="s_word">
    <span id="spinner" class="hide">
      <%= image_tag("spiffygif_52x52_gray.gif") %>
    </span>
    <span id="now-loading" class="hide">
      now analysis ...
    </span>
    <span id="error_msg" class="hide">
    データ不足のため、分析できません。<br>（分析には最低3日分のCVデータが必要です）<br><br>解析期間もしくはＣＶ設定を変更し、再度分析をお試しください。
    </span>
    <span id="add_error_msg" class="hide"></span>
  </p>
</span>
